# Executables
*.exe

# Environment variables (sensitive)
.env
.env.trading
.env.example

# Python cache and virtual environments
__pycache__/
venv/
.venv/
build/
dist/

# Database files
*.db
*.sqlite3

# OS specific files
.DS_Store
Thumbs.db

# VS Code / IDE settings
.vscode/
.idea/
